externalized-configuration/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.isjinhao.site/schema/user"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.isjinhao.site/schema/user">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <!-- 定义 City 类型（简单类型，枚举） -->
    <xsd:simpleType name="City">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BEIJING"/>
            <xsd:enumeration value="HANGZHOU"/>
            <xsd:enumeration value="SHANGHAI"/>
            <xsd:enumeration value="SHENZHEN"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="User">
        <xsd:attribute name="id" type="xsd:long" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="city" type="City"/>
    </xsd:complexType>

    <!-- 定义 user 元素 -->
    <xsd:element name="user" type="User"/>

</xsd:schema>